@import "~antd/dist/antd.less";
@import "~slick-carousel/slick/slick.css"; 

@font-face {
    font-family: Poppins;
    font-style: normal;
    src: url('./assets/fonts/Poppins-Regular.ttf');
}
html,body{
    font-family: Poppins;
    font-weight: 500;
}
.ant-layout-content{
    margin-top: 100px;
    background: #fff;
    .ant-layout{
        background: #fff;
    }
}
