@import "~antd/dist/antd.less";
@import "~slick-carousel/slick/slick.css"; 

@font-face {
    font-family: Poppins;
    font-style: normal;
    src: url('./assets/fonts/Poppins-Regular.ttf');
}
html,body{
    font-family: Poppins;
    font-weight: 500;
}
.ant-layout-content{
    padding-top: 140px;
    background: #fff;
    min-height: 100vh;
    @media (max-width: 767px) {
        padding-top: 104px;
    }
    .ant-layout{
        background: #fff;
    }
}
