.ecosystem{
    padding-bottom: 200px;
    .content{
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        padding: 0 50px;
        @media (max-width: 767px) {
            padding: 0 20px;
        }
    }
    .banner{
        background: url('../../assets/images/ecosystem/ecosystem1.png') no-repeat, #0D1DB4;
        background-size: 100%, 100%;
        height: 378px;  
        display: flex;  
        align-items: center;
        background-position: right bottom;
    }
    h2{
        font-size: 48px;
        color: #fff;
        font-weight: 600;
    }
    h3{
        color: #111029;
        font-size: 24px;
        text-align: center;
        margin-top: 80px;
        font-weight: 600;
    }
    p{
        font-size: 16px;
        color: #fff;  
    }
    .list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0; 
        @media (max-width: 767px) {
            flex-direction: column;
        }
        .item{
            margin: 40px 20px;
            width: 280px;
            height: 230px;
            padding: 30px 20px;
            background: #fff;
            border-radius: 40px;
            box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.2);
            @media (max-width: 767px) {
                margin: 20px;
            }
            h4{
                color: #727272;
                font-size: 18px;
                text-align: center;
                font-weight: 600;
            }
            p{
                color: #727272;
                font-size: 14px;
                text-align: center;
            }
            img{
                height: 50px;
                display: block;
                margin: 20px auto;
            }
        }
    }
}